.banner-image {
  // height: 220px;
  height: 10%;
  // width: -webkit-fill-available;
  width: 100%;
  background-size: cover;
}

.welcome {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

// Media Query
@media (max-width: 768px) {
   .banner-image {
     height: 5%;
   }
}
