// Specific CSS for your home-page
/* Colors and fonts */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.hero-image {
  align-items: center;
  width: 100%;
  background-image: url("dog_test.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
}
 .hero-text {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 5px;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: grey;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}
.text-center {
  text-align: center;
}

.btn-search {
  background-color: #044E49;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-search:hover {
  background-color: grey;
  color: white;
}

.icon-bar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #044E49;
  overflow: auto;
  flex-wrap: auto;

}

.icon-bar a {
  width: 100%;
  text-align: center;
  padding: 7px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}

.icon-bar a:hover {
  background-color: grey;
}
