<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
  </head>

  <body>
    <div id="ImageCarouselCSS" class="carousel slide" data-ride="carousel">
      <div class="intro">
        <img class="logo" src="https://res.cloudinary.com/mel0013/image/upload/v1641458490/hellodog/hellodoglogo_s5ehe5.png">
        <h1 style="font-size:15px">The most effective way for your dog to socialise</h1>
        <%= link_to "Meet Our Dogs", dogs_path, class: "btn-green" %>
      </div>
      <ol class="carousel-indicators">
          <li data-target="#ImageCarouselCSS" data-slide-to="0" class="active"></li>
          <li data-target="#ImageCarouselCSS" data-slide-to="1"></li>
          <li data-target="#ImageCarouselCSS" data-slide-to="2"></li>
      </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/mel0013/image/upload/v1639650414/hellodog/homepage_lyb1br.jpg" class="d-block w-100" alt="Hero Picture">
      </div>
      <div class="carousel-item" style="width:100%">
        <img src="https://c.stocksy.com/a/5DF800/z9/1965095.jpg" class="d-block w-100" alt="Dog Meets Friends">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1612782729003-fef75680220e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2lybCUyMGRvZ3xlbnwwfHwwfHw%3D&w=1000&q=80" class="d-block w-100" alt="Happy dogs Happy Owners">
      </div>
    </div>
    </div>
  </body>
</html>
